#avatar {
  background-image: url("https://images.pexels.com/photos/6311505/pexels-photo-6311505.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  border-radius: 50%;
  width: 150px;
  height: 150px;
  background-size:cover;
}
.div-1 {
  display: none;
}
h1 {
  text-align: center;
  font-family: monospace;
}
button {
  background: transparent;
  margin: 2px 8px;
  padding: 5px;
  border: 2px solid black;
  font-family: monospace;
}
button:hover {
  background: black;
  color: white;
}
h3 {
  font-family: monospace;
  font-size: 25px;
  color: white;
}

p {
  font-family: monospace;
}
.div-2 {
  padding: 25px;
  text-align: center;
  margin-top: 10vh;
  background: #89d6e5;
  margin-left: 25vw;
  margin-right: 25vw;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@media (max-width: 400px) {
  .div-2 {
    padding: 10px;
    text-align: center;
    margin-top: 10vh;
    background: #89d6e5;
    margin-left: 1vw;
    margin-right: 1vw;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}
